
header{
    height: 100px;
}
.inner-container1{
    position: relative;
    margin: 0px auto;
    width: 1040px;
}
#logo{
    position: absolute;
    left:0px;
    top: 35px;
    font-size: 30px;
    font-weight: bold;
}
nav{
    position: absolute;
    left: 50%;
    margin-left: -280px;
    top: 35px;
}
header .button{
    position: absolute;
    right: 0px;
    top: 25px;
    border: 2px solid rgb(212, 208, 208);
    padding: 5px 40px;
    font-size: 13px;
    color: rgb(212, 208, 208);
}
nav a{
    margin: auto 20px;
    color: black;
}
.inner-container2{
    width: 1040px;
    margin: 0 auto;
    position: relative;
    
}
.bluebox1{
    background-color: #2D3E98;
    padding: 30px 40px;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    width: 250px;
    height: 140px;
    top: 100px;
    left: 0px;
    float: left;
    flex-grow: 1;
}
.bluebox2{
    background-color: #031252;
    padding: 30px 40px;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    width: 250px;
    height: 140px;
    float: left;
    flex-grow: 1;
}
.bluebox3{
    background-color: #2D3E98;
    padding: 30px 40px;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    width: 250px;
    height: 140px;
    float: left;
    flex-grow: 1;
}

main .news1,.news2,.news3,.news4,.news5,.news6{
    padding: 7px; border-bottom: solid 1px grey;
    text-align: left;
}

main .box1{
    width: 1040px;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.box1{
    display: flex;
}
.txt1{
    font-style: border;
}
.txt2{
    font-style: Thin;
    font-size: 13px;
}
.txt3{
    font-style: Thin;
    position: absolute;
    bottom: 10px;
}
.news{
    width: 900px;
    margin: 0px auto;
}
.news1{
    position: relative;
    margin-top: 100px;
    padding-bottom: 9px;
    padding-top: 9px;
    border-bottom: 0.6px solid rgb(185, 182, 182);
}
.news2{
    position: relative;
    padding-bottom: 9px;
    padding-top: 9px;
    border-bottom: 0.6px solid rgb(185, 182, 182);
}
.news3{
    position: relative;
    padding-bottom: 9px;
    padding-top: 9px;
    border-bottom: 0.6px solid rgb(185, 182, 182);
}
.news4{
    position: relative;
    padding-bottom: 9px;
    padding-top: 9px;
    border-bottom: 0.6px solid rgb(185, 182, 182);
}
.news5{
    position: relative;
    padding-bottom: 9px;
    padding-top: 9px;
    border-bottom: 0.6px solid rgb(185, 182, 182);
}
.news6{
    position: relative;
    padding-bottom: 9px;
    padding-top: 9px;
    border-bottom: 0.6px solid rgb(185, 182, 182);
}
.gray{
    color: rgb(182, 181, 181);
    float: left;
    padding-right: 10px;
    font-size: 12px;
}
.date{
    color: gray;
    float: right;
    font-size: 12px;
}
.main1{
    color: black;
    font-size: 12px;
}
.gray-box{
    height: 1100px;
    background-color: #F8F8F8;
    margin-top: 60px;
}
.inner-container3{
    width: 1035px;
    margin: 0 auto;
    position: relative;
}
.큰제목1{
    position: relative;
    top: 100px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
.부제목1{
    position: relative;
    top: 100px;
    text-align: center;
    margin-bottom: 90px;
}
.gallery1{
    width: 325px;
    height: 350px;
    background-color: white;
    margin-top: 10%;
    margin-right: 10px;
    margin-bottom: 0px;
}
.gallery2{
    width: 325px;
    height: 350px;
    background-color: white;
    margin-top: 10%;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
}